.GCS__Navbar{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    background: linear-gradient(240deg, #0D0A33 80.47%, #FFC103 96.3%);
    padding: 1rem 2rem;
}

.GCS__Navbar-links_logo img{
    width: 100px;
    height: 65px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,600&display=swap');

.author{
    font-family: 'Poppins', sans-serif; 
    color:#FFC103;
}

.wrapping{
    content:"";
    display: flex;
    clear: both;
}

.missionbar{
    background-color: #ebc24a;
    width: 100rem;
    border-radius: 0.2rem;
}

h3{
    font-family: 'Poppins', sans-serif;
    display: block;
    text-align: center;
    color: rgb(67, 49, 49);
}

.buttons{
    display: grid;
    row-gap: 0.2rem;
}

button{
    font-family: 'Poppins';
    color: #FFC103;
    background-color:#0D0A33;
    border-radius: 2rem;
}

input{
    height: 1.5rem;
    width: 15rem;
    margin-left: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: block;
    align-content: center;
}